{% extends 'booking/base.html' %} {% block content %}
<div class="register">
  <div><h3>register</h3></div>
  <div class="main_form">
    <form class="form" action="{% url 'submit' %}" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="username"
        placeholder="username"
        required
        minlength="5"
        maxlength="15"
      />
      <input type="email" name="email" placeholder="E-mail" required />
      <input
        type="password"
        name="nem_password"
        placeholder="New password"
        required
      />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm password"
        required
      />
      <input type="submit" />
    </form>
  </div>
  <div><a href="{% url 'login' %}">login if you have an account</a></div>
</div>
{% endblock %}
