.main_register{
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column
}
.register{
    width: 250px;
    height: 300px;
    background-color: rgb(107, 6, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    
   
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.main_form{
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: rgb(222, 85, 6);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}